<div class="container-disco">
  <h1>{{disco.nombre}} (ID. {{disco.id}})</h1>
  <img class="img-tapa" src={{disco.tapa}} />
  <p class="card-text">{{this.titulo}}</p>
  <p class="title-artista">Titulo: {{disco.titulo}}</p>
</div>
<div class="texto">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, esse at aut
    neque odit est dolor, placeat aliquid adipisci rerum quod officia corporis
    reprehenderit quas rem nesciunt optio fugiat atque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, esse at aut
    neque odit est dolor, placeat aliquid adipisci rerum quod officia corporis
    reprehenderit quas rem nesciunt optio fugiat atque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, esse at aut
    neque odit est dolor, placeat aliquid adipisci rerum quod officia corporis
    reprehenderit quas rem nesciunt optio fugiat atque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, esse at aut
    neque odit est dolor, placeat aliquid adipisci rerum quod officia corporis
    reprehenderit quas rem nesciunt optio fugiat atque!</p>
</div>